<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" media="screen" />
</head>

  <body>
    <h2>{{ alert_type }} taken at {{ taken_at }}</h2>

    {% if alert_list %}
    <table stype="width:100%">
      <tr>
	<th>Alert ID</th>
	<th>Replicas</th>
	<th>Locus</th>
	<th>Source</th>
	<th>Taken At</th>
	<th>Alert Type</th>
	<th>Attributes</th>
      </tr>
      {% for alert in alert_list %}
      <tr>
	<td>{{ alert.AlertID }}</td>
	<td><a href="{% url 'protracker:replicas' alert.AlertID %}">Replicas</a></td>
	<td><a href="{% url 'protracker:locus' alert.LocusID.LocusID %}">Locus</a></td>
	<td><a href="{% url 'protracker:source' alert.SourceID.SourceID %}">Source</a></td>
	<td>{{ alert.TakenAt }}</td>
	<td>{{ alert_type }}</td>
	<td><a href="{% url 'protracker:alert_attr' alert.AlertID %}">Attributes</a></td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <h2>No {{ alert_type }} found at {{ taken_at }}</h2>
    {% endif %}

  </body>
</html>
