<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" media="screen" />  
</head>

  <body>
    {% if astro %}
    <h2>AstroObject associated with Replica {{ replica_id }}</h2>
    <table stype="width:100%">
      <tr>
	<th>AstroObject ID</th>
	<th>Catalog</th>
	<th>ID in Catalog</th>
	<th>Is Point Source?</th>
	<th>Locus</th>
      </tr>
      <tr>
	<td>{{ astro.AstroObjectID }}</td>
	<td>{{ astro.Catalog }}</td>
	<td>{{ astro.IDinCatalog }}</td>
	<td>{{ astro.IsPointSource }}</td>
	<td><a href="{% url 'protracker:locus' astro.LocusID_id %}">Locus</a></td>
      </tr>
    </table>
    {% else %}
    <h2>No AstroObject associated with Replica {{ replica_id }}</h2>
    {% endif %}

  </body>
</html>
