<!DOCTYPE html>
<html>
<head>
  <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 5px;
    text-align: left;
    }
  </style>
</head>

  <body>
    <h3>Derived Attribute {{ derived_attr.AttrName_id }} </h3>

    {% if derived_attr %}
    <table stype="width:100%">
      <tr>
	<th>Source Code Version</th>
	<th>Function Name</th>
	<th>File Name</th>
	<th>Package Name</th>
	<th>Astronomer Name</th>
      </tr>
      <tr>
	<td><a href="{% url 'protracker:attr_code' derived_attr.HashName %}">
	    {{ derived_attr.HashName | truncatechars:20 }}</a></td>
	<td><a href="{% url 'protracker:func_code' derived_attr.FunctionName derived_attr.HashName %}">
	    {{ derived_attr.FunctionName }}</a></td>
	<td>{{ derived_attr.FileName }}</td>
	<td>{{ derived_attr.PackageName }}</td>
	<td>{{ derived_attr.AstronomerName }}</td>
      </tr>
    </table>
    {% else %}
    <h3>No derived attributes found!</h3>
    {% endif %}

  </body>
</html>
