<!DOCTYPE html>
<html>
<head>
  <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 5px;
    text-align: left;
    }
  </style>
</head>

  <body>
    <h3>Locus {{ locus.LocusID }}</h3>
    <table stype="width:100%">
      <tr>
	<th>Locus ID</th>
	<th>Coordinate</th>
	<th>Uncertainty</th>
      </tr>
      <tr>
	<td>{{ locus.LocusID }}</td>
	<td>{{ locus.Coordinate }}</td>
	<td>{{ locus.Uncertainty }}</td>
      </tr>
    </table>
  </body>
</html>
