<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" media="screen" />
</head>

  <body>
    {% if replicas %}
    <h2>Replicas of alert {{ alert }}</h2>
    <table stype="width:100%">
      <tr>
	<th>Replica ID</th>
	<th>Replica Number</th>
	<th>Locus</th>
	<th>Channel ID</th>
	<th>Channel Probability</th>
	<th>Attributes</th>
	<th>Associated AstroObject</th>
      </tr>
      {% for replica in replicas %}
      <tr>
	<td>{{ replica.ReplicaID }}</td>
	<td>{{ replica.ReplicaNumber }}</td>
	<td><a href="{% url 'protracker:locus' replica.LocusID_id %}">Locus</a></td>
	<td>{{ replica.ChannelID }}</td>
	<td>{{ replica.ChannelProbability | floatformat:'3' }}</td>
	<td><a href="{% url 'protracker:replica_attr' replica.ReplicaID %}">Attributes</a></td>
	<td><a href="{% url 'protracker:astro' replica.ReplicaID  %}">Associated AstroObject</a></td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <h2>No replica found for alert {{ alert }}</h2>
    {% endif %}

  </body>
</html>
