<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" media="screen" />  
</head>

  <body>
    <h2>Attributes for Replica {{ replica.ReplicaID }} of alert {{ replica.AlertID_id }}</h2>

    {% if attrs %}
    <table stype="width:100%">
      <tr>
	<th>Computed At</th>
	<th>Value</th>
	<th>Confidence</th>
	<th>Name</th>
	<th>Annotation</th>
      </tr>
      {% for attr in attrs %}
      <tr>
	<td>{{ attr.ComputedAt }}</td>
	<td>{{ attr.Value }}</td>
	<td>{{ attr.Confidence | floatformat:'3' }}</td>
	<td>{{ attr.AttrName_id }}</td>
	{% if 'Derived' in attr.Annotation %}
	<td><a href="{% url 'protracker:derived_attr' attr.AttrName_id %}">{{ attr.Annotation }}</a></td>
	{% else %}
	<td>{{ attr.Annotation }}</td>
	{% endif %}
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <h2>No attributes found for alert {{ alert.AlertID }}</h2>
    {% endif %}

  </body>
</html>
