<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" media="screen" />  
</head>

  <body>
    <h2>Source {{ source.SourceID }}</h2>
    <table stype="width:100%">
      <tr>
	<th>Source ID</th>
	<th>Coordinate</th>
	<th>Brightness</th>
	<th>DeltaBrightness</th>
	<th>ThumbnailURL</th>
	<th>Image</th>
      </tr>
      <tr>
	<td>{{ source.SourceID }}</td>
	<td>{{ source.Coordinate }}</td>
	<td>{{ source.Brightness | floatformat:'3' }}</td>
	<td>{{ source.DeltaBrightness | floatformat:'3' }}</td>
	<td>{{ source.ThumbnailURL }}</td>
	<td><a href="{% url 'protracker:image' source.ImageID_id %}">Image</a></td>
      </tr>
    </table>
  </body>
</html>
